* {
  box-sizing: border-box;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #1a4f67;
  color: #fcfcfc;
}

img,
video {
  max-width: 300px;
  max-height: 500px;
}

p {
  text-align: center;
}

label {
  cursor: pointer;
}

input#file-upload {
  visibility: hidden;
}

#wrapper {
  width: 90%; 
  /* height: 70px; */
  margin: auto;
}

#title {
  font-size: 12pt;
  text-align: center;
}

#drop-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(72, 194, 47, 0.443);
  border: 1px dashed #fcfcfc;
  border-radius: 1rem;
}

#drop-container i {
  font-size: 2rem;
}

#preview-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.preview-tile {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 1rem;
  background: #313737;
  border-radius: 1rem;
}

.preview-media {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.85rem;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  border-color: #bbb;
  border-width: 1px;
  border-style: solid;
}

button {
  outline: none;
  border: none;
  background-color: #6636ff;
  color: #fff;
  border-radius: 0.75rem;
  padding: 0.75rem 1.25rem;
  width: 100%;
  font-size: 1rem;
}
button:hover {
  cursor: pointer;
}